.main .container .members h1 {
  color: #c6cbf5;
  font-family: 'Orbitron', sans-serif;
  font-size: 15vmax;
  font-weight: 1000;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  z-index: 20;
  background: -webkit-linear-gradient(
    top,
    #151c60,
    #c6cbf5 40%,
    black 40%,
    #010d18 65%,
    #fff
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  display: block;
  width: 100%;
  z-index: 13;
}

@media only screen and (max-width: 750px) {
  .main .container .members h1 {
    font-size: 15vmin;
  }
}

@media only screen and (max-width: 750px) {
  .main .container .members h2 {
    font-size: 8vmin;
    top: 11vmin;
  }
}

.main .container .contents .memberInfo ul li {
  display: block;
  margin: 2vw 2vw 2vw 2vw;
  padding: 2vw 2vw 2vw 2vw;
  text-indent: 0.2vw;
  user-select: none;
  font-size: 9px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 30px #d100b1;
  -moz-box-shadow: 0px 0px 30px #d100b1;
  box-shadow: 0px 0px 30px #d100b1;
}

.main .container .contents ul li .fa-instagram {
  color: #fff;
}

.main .container .contents .memberInfo li h3:hover {
}

.main .container .contents .memberInfo li h3:hover::before {
  content: ' — ';
}

.main .container .contents .memberInfo li h3:hover::after {
  content: ' — ';
}

.main .container .memberInfo ul li p {
  font-size: 1.5rem;
}
